{# src/Iirt/UserBundle/Resources/views/User/ajouter.html.twig #}

<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}"
type="text/css" />

<h3>Formulaire Utilisateur</h3>
<div class="well">
    <form method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
         <input type="submit" class="btn btn-primary" />
    </form>
</div>

<script type="text/javascript" src="{{ asset('js/bootstrap.js')}}"></script>
<script type="text/javascript" src="{{ asset('js/jquery.js')}}"></script>
