<!DOCTYPE html>
<html lang="en">
    
{# if(app.session.get('name') OR app.session.get('connect')) #}
<head>
<title>{% block title %}

{% endblock %}</title>

<meta charset="utf-8">
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/reset.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" media="all" />
{% endblock %}
</head>
<body id="page1">
<!-- START PAGE SOURCE -->
<div class="container">
<div class="wrap">
  <header>
    <div class="row" class="cont">
      
      <nav>
        <ul>
          <li class="current"><a href="{{ path('iirt_announcement') }}" class="m1">Accueil</a></li>
          <li><a href="about-us.html" class="m2">anciens articles</a></li>
          <li><a href="articles.html" class="m3">info utiles</a></li>
          <li><a href="contact-us.html" class="m4">tchat</a></li>
          <li class="last"><a href="sitemap.html" class="m5">faq</a></li>
        </ul>
      </nav>
	  </div>
	  <div class="row">
	  <div class="col-lg-7" >
	  <h1><a href="#">Student's site</a></h1>
	  </div>
	  <div class="col-lg-5">
            {%if app.session.get('name')  %}
                {{ app.session.get('name') }} <a class="inscript" href="{{ path('iirt_user_logout') }}"> Deconnexion </a>
            {% else %}
	  <div  id="">
		
	<div  >
            <a class="inscript" href="{{ path('iirt_user_add_student') }}"> Inscription </a>
            <!--<div id="inscription" class="col-lg-8"  hidden >
            <form action="" method="post" id="form_connect">
                
                <div class="form-group">
                <input type="radio" id="enseignant" name="type" value="2" />Enseignant
                <input type="radio" id="etudiant" name="type" value="1" />Etudiant
                </div>
                <div class="form-group">
                <input class="btn btn-primary pullright" type="submit" value="Inscription" />
                </div>
            </form>!-->
            </div>
        
            <a class="trigger" href="#"> Connexion </a>
            <div id="connexion" class="col-lg-8"  hidden >
            <form action="{{ path('iirt_user_login') }}" method="post" id="form_connect"  >
                
		<div class="form-group">
                    <input type="text" id="pseud" name="pseudo" placeholder="matricule" class="form-control" />
                    </div>
		<div class="form-group">
                    <input type="password" id="passwrd" name="password" placeholder="mot de passe" class="form-control" />
                    </div>
                <div class="form-group">
                    <strong>En tant que:</strong><br>
                    <input type="radio" id="enseignant" name="type" value="2" />Enseignant
                    <input type="radio" id="etudiant" name="type" value="1" />Etudiant
                </div>
		<div class="form-group">
                    <label for="souvenir" >
                    <input style="width: 25px;" type="checkbox" id="souvenir" name="souvenir" value="souvenir" />se souvenir de moi</label>
                    </div>
                    <input class="btn btn-primary pullright" type="submit" value="connexion" />

            </form>
              
            <div class='gauche' >
            <a href="" id="mplost" > mot de passe oublié</a>
            </div>
	</div>
       </div>    
            {% endif %}
    </div> </div>
	</div>
  </header>
  <div class="row">
    <aside class="col-lg-3">
       {% if(app.session.get('matricule')) %}
       {#ici on appelle directement le controleur dans l'aside #}
        <h2>menu <span>utilisateur</span></h2>
        <ul class="">
          <li><a href="{{ path('iirt_announcement') }}">annonces</a></li>
          <li><a href="{{ path('iirt_message_homepage') }}">messages</a></li>
          <li><a href="{{ path('iirt_user_homepage') }}">gestion éditeur</a></li>
          <li><a href="{{ path('iirt_user_homepage') }}">gestion abonné</a></li>
        </ul>
      {% endif %}
      <h2>Fresh <span>News</span></h2>
      <ul class="news">
        <li><strong>June 30, 2010</strong>
          <h4><a href="#">Sed ut perspiciatis unde</a></h4>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque. </li>
      </ul>
	  <h2>Calendrier</h2>
    </aside>
    <section class="col-lg-9" id="content">
      {% block bannierre %}
          
       {% endblock %} 
       
       {% block section %}
       {% endblock %}
    </section>
  </div>
</div>
    <footer>
      <div class="foot">
            <div style="clear:both;">
                <p class="lf">Copyright &copy; 2015 <a href="#">club gi (iut in real time)</a> - All Rights Reserved</p>
            <!-- <p class="rf">Design by <a href="http://www.templatemonster.com/">TemplateMonster</a></p> -->
            </div>
      </div>
    </footer>
</div>
{% block javascript %}
<script type="text/javascript" src="{{ asset('js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{ asset('js/jquery_1.js')}}"></script>
<script type="text/javascript">
    
    /* LA CONNEXION */
    $(".trigger").click(function(e){
            e.preventDefault();
            $("#connexion").slideToggle();
    });
    
    /* L'INSCRIPTION 
    $(".inscript").click(function(e){
            e.preventDefault();
            $("#inscription").slideToggle();
			});*/
</script>
{% endblock %}
<!--<script type="text/javascript"> Cufon.now(); </script>
 END PAGE SOURCE -->
</body>
{# else #}
    
{# endif #}
</html>
