{% extends "IirtMessageBundle::layout.html.twig" %}

{% block contenu %}
    
       <h2>liste des messages </h2>
       <table >
            <tr>
                <th class="chapitre">  </th>
                <th class="titre"> nom </th>
                <th class="titre"> titre </th>
                <th class="contenu"> contenu </th>
                <th class="date"> date </th>
            </tr>
            {% for message in liste %}
            <tr >
                <td >
                    <input style="width: 25px;" type="checkbox" />
                </td >
                
                    <td >{{ message.title }}</td >
                    <td >{{ message.title }}</td >
                    <td >
                        <a href="{{ path('iirt_message_answer',{'messageId': message.id}) }}" >
                            {{ message.content }}
                        </a>
                    </td >
                    <td >{{ message.date|date('d/m/Y') }}</td >
                
            </tr >
            {% endfor %}
        </table >

  {% endblock %}