{% extends "IirtMessageBundle::layout.html.twig" %}

{% block contenu %}
    
       <h2>liste des messages </h2>
       
<table class="table table-bordered table-striped table-condensed">
    
<tbody>
            {% for message in liste %}
            <tr >
                <td >{{ message.title }}</td >
                <td >
                    <a href="{{ path('iirt_message_answer',{'messageId': message.id}) }}" >
                        {{ message.content }}
                    </a>
                </td >
                <td >{{ message.date|date('d/m/Y') }}</td >
                <td ><a class="btn btn-default" href="{{ path('iirt_message_answer',{'messageId': message.id}) }}" >
                        supprimer
                    </a></td >
            </tr >
            {% endfor %}
            </tbody>
        </table >

  {% endblock %}